<section>
  <div class="row">
    <h1 class="col-1 text-muted">Sessions</h1>
    <div class="col text-end">
      <button class="btn mx-1 btn-outline-secondary btn-sm" type="button" id="orderDropDownButton" data-bs-toggle="dropdown" aria-expanded="false">Order by</button>
      <ul class="dropdown-menu mt-2 bg-light" aria-labelledby="orderDropDownButton">
        <li><a class="dropdown-item" (click)="sort = 'a-z'">A-Z</a></li>
        <li><a class="dropdown-item" (click)="sort = 'z-a'">Z-A</a></li>
      </ul>
      <button class="btn btn-sm" [class.btn-outline-secondary]="filter === 'all'" [class.btn-secondary]="filter !== 'all'" type="button" id="filterDropDownButton" data-bs-toggle="dropdown" aria-expanded="false">Filter by level</button>
      <ul class="dropdown-menu mt-2 dropdown-menu-end bg-light" aria-labelledby="filterDropDownButton">
        <li><a class="dropdown-item"[class.active]="filter === 'beginner'" (click)="filter ='beginner'" style="cursor: pointer">Beginner</a></li>
        <li><a class="dropdown-item" [class.active]="filter === 'intermediate'" (click)="filter ='intermediate'" style="cursor: pointer">Intermediate</a></li>
        <li><a class="dropdown-item"[class.active]="filter === 'advanced'" (click)="filter ='advanced'" style="cursor: pointer">Advanced</a></li>
        <li><a class="dropdown-item" (click)="filter ='all'" style="cursor: pointer" *ngIf="filter !== 'all'">All</a></li>
      </ul>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let session of visibleSessions">
      <div class="accordion-header h1" [id]="'heading_' + session.id">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse_' + session.id" aria-expanded="false"
                [attr.aria-controls]="session.id">
          {{session.name}}
        </button>
      </div>
      <div id="collapse_{{session.id}}" class="accordion-collapse collapse"
           [attr.aria-labelledby]="'heading_' + session.id" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{session.abstract}}</p>
          <ul class="list-inline text-muted mb-0">
            <li class="list-inline-item">{{session.presenter}}</li>
            <li class="list-inline-item">{{session.duration}}</li>
            <li class="list-inline-item">{{session.level}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
